
@{Layout = "~/Areas/StudentSys/Views/Shared/_Layout.cshtml";}
<div class="tycdv bd_rd10 bg_wite">
    <div class="cdiv pd20 ptmg ow tyhg5" id="teacherpage">
        <form class="ablogs_pwd" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage" action="@Url.Action("detail")">
            <div class="r_con">
                <div class="tydl gbdv">
                    <div class="tydl ptmg_stp_dl">
                        <div class="ablogs_pwd_item">
                            <label>操作手册：</label>
                            <a href="#">下载</a>
                        </div>
                        <div class="ablogs_pwd_item">
                            <label>客服热线：</label>
                            800-820-8820
                        </div>
                        <div class="ablogs_pwd_item">
                            <label>QQ：</label>
                            11011011
                        </div>
                    </div>
                </div>
            </div>
            <div class="cdiv_cen" id="mg-btn-pos" style="height: 10%;width: 15%">
                <dl class="tydl mytc_ad2">
                    <dd>
                        <a class="tydv_btn_pka bd_rd5 fr" href="/studentsys">取消</a>
                    </dd>
                </dl>
            </div>
        </form>
    </div>
</div>