@{Layout = "~/Areas/StudentSys/Views/Shared/_Layout.cshtml";}
<div class="tycdv bd_rd10 bg_wite">
    <div class="cdiv pd20 ptmg ow tyhg5" id="teacherpage">
        @Html.Partial("search")
    </div>
</div>
@section menu{
    <div class="footer_menu_box">
        <div class="menu">
            <div class="bt-name">点我呀!</div>
            <div class="sanjiao"></div>
            <div class="new-sub">
                <ul>
                    <li><a href="@Url.Action("edit")" class="ty_tcurrt" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage">修改信息</a></li>
                    <li><a href="@Url.Action("pwd")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage">修改密码</a></li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div>
    </div>
}