@model TreatiseTeacherViewModel
@{Layout = "~/Areas/TeacherSys/Views/Shared/_Layout.cshtml";}
<div class="cdiv pd20 ptmg ow tyhg5">
    <div class="tydvlf tybg1 tyhg">
        <dl class="tydl ty_tit ctbord tyhg1">
            @foreach (var item in Model.TeacherTreatises)
            {
                <dd><a href="@Url.Action("search","treatise",new { id=item.TreatiseID})" class="ty_tcurrt" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage">@item.Treatise.TreatiseName</a></dd>
            }
        </dl>
    </div>
    <div class="tydvrg ps hei-a85" id="teacherpage">
        @Html.Partial("search")
    </div>
</div>
@section Scripts{
    <script>
        function btndel(id) {
            if (confirm("删除后数据无法恢复，确定要删除吗?")) {
                $.post("/teachersys/subject/delete", { id: id }, function (data) {
                    if (data == "OK") {
                        alert("删除成功！");
                        window.location.reload();
                    } else {
                        alert(data);
                    }
                });
            };
        }
    </script>
}
