@model EmailSet
@{
    var school = ViewBag.SchoolName;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>邮件管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/prms/">主页</a>
            </li>
            <li>
                <a href="/prms/email">邮件管理</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Host:</label>
                            <div class="col-sm-8 form-control-static">
                                @Html.Raw(Model.Host)
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">端口:</label>
                            <div class="col-sm-8 form-control-static">
                                @Html.Raw(Model.Port)
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">发送邮件地址:</label>
                            <div class="col-sm-8 form-control-static">
                                @Html.Raw(Model.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮件密码:</label>
                            <div class="col-sm-8 form-control-static">
                                @Html.Raw("刮我呀" + "███████")
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" onclick="return confirm('返回后您输入的数据将不被储存，确认返回吗？')" href="/prms/emailset">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>