<?xml version="1.0" encoding="utf-8"?>
<!--数据库连接配置-->
<connectionStrings>
  <add name="LanShanPRMSContext" connectionString="Data Source=192.168.1.3;Initial Catalog=LanShanPRMS;User ID=sa;pwd=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="LanShanPRMSContext1" connectionString="Data Source=221.234.36.36,1333;Initial Catalog=LanShanPRMS;User ID=sa;pwd=Lanshan@505#wz;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>