@{Layout = "~/Areas/TeacherSys/Views/Shared/_Layout.cshtml";}
<div class="cdiv pd20 ptmg ow tyhg5" id="teacherpage">

    @Html.Partial("Search")
</div>
@section menu{
    <div class="footer_menu_box">
        <div class="menu">
            <div class="bt-name">点我吧!</div>
            <div class="sanjiao"></div>
            <div class="new-sub">
                <ul>
                    <li><a href="@Url.Action("edit")" class="ty_tcurrt" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage">修改信息</a></li>
                    <li><a href="@Url.Action("pwd")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage">修改密码</a></li>
                </ul>
                <div class="tiggle"></div>
                <div class="innertiggle"></div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="/Content/scrollbar/js/minified/jquery.mCustomScrollbar.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#abloeds").mCustomScrollbar({
                scrollButtons: {
                    enable: true
                },
                theme: "dark-thin"
            });
        });
    </script>
}